@import url(https://fonts.googleapis.com/css?family=Quintessential|Century|Josefin+Sans|Lato|Marck+Script|La+Belle+Aurore|Cedarville+Cursive);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Aniron;
  src: url("../fonts/anirm___.ttf"), url("anirm___.eot");
}
/* Global Styles */
html, body {
  height: 100%;
}

body {
  background-image: url("../img/landscape.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  z-index: -1;
}

footer {
  padding: 1em 4em;
  text-align: right;
}

main {
  display: none;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-60%);
}

/* Flexbox Styles */
.flex-container {
  cursor: pointer;
  text-align: center;
  margin: 4em auto;
  width: 90%;
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.flex-container section {
  font-family: "La Belle Aurore", "Cedarville Cursive", "Marck Script", Garamond, serif;
  font-size: 1.35em;
  line-height: 1.4em;
  padding: 0 0.5em;
  margin: 0 3%;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-grow: 2;
  flex-grow: 2;
}
.flex-container section h2 {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Century", Garamond, serif;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0.3em;
}

@media only screen and (max-width: 500px) {
  .flex-container {
    -webkit-flex-flow: column;
    flex-flow: column;
  }
}
@media only screen and (max-width: 960px) {
  .flex-container {
    -webkit-flex-flow: wrap;
    flex-flow: wrap;
  }
}
/* Special Styles */
.box {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2em 1em;
  width: 100%;
  -moz-transition: ease-in-out 0.7s;
  -o-transition: ease-in-out 0.7s;
  -webkit-transition: ease-in-out 0.7s;
  transition: ease-in-out 0.7s;
}

#splash {
  background-image: url("../img/fog.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  cursor: pointer;
  height: 100%;
  left: 0%;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 10;
  /* #splash-content */
}
#splash #splash-content {
  background: rgba(255, 255, 255, 0.5);
  border: 5px double rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  padding: 5em 0em;
  position: relative;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  width: 50%;
}
#splash #splash-content h1 {
  color: rgba(0, 0, 0, 0.85);
  font-family: "Aniron", "Quintessential", "La Belle Aurore", Garamond, serif;
  font-size: 1.4em;
  text-transform: uppercase;
}
#splash #splash-content h2 {
  font-family: "Aniron", "Quintessential", "La Belle Aurore", Garamond, serif;
}
#splash #splash-content p {
  font-family: "Josefin Sans", "Lato", Helvetica, sans-serif;
  font-size: 1.4em;
  text-transform: lowercase;
  -webkit-animation: blink 1.7s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
  -moz-animation: blink 1.7s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
  -o-animation: blink 1.7s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
  animation: blink 1.7s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}
#splash #splash-content #sig {
  margin: auto;
  margin-top: -0.8em;
  margin-bottom: 1.8em;
  max-width: 100%;
  opacity: 0.2;
  width: 13em;
}

/* #splash */
.stanza {
  display: none;
}

/* Animations Woot */
@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
