/* Global Styles */
html, body {
  height: 100%;
}

body {
  @include background('../img/landscape.jpg');
  @include background-size(cover);
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: -1;
}

footer {
  padding: 1em 4em;
  text-align: right;
}

main {
  display: none;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-60%);
}

/* Flexbox Styles */
.flex-container {
  text-align: center;
  width: 90%;

  @include display-flex(flex);
  @include flex-flow(row nowrap);
  @include justify-content(space-between);
  @include align-items(center);
}

.flex-container section {
  font-family: $font-poem;
  margin: 0 3%;
  padding: 0.5em;
  line-height: 1.4em;

  @include flex(1);
}

@media only screen and (max-width: 480px) {
  .flex-container {
    @include flex-flow(column);
  }
}

/* Special Styles */
.box {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2em 1em;
  width: 100%;
  @include transition(0.7s ease-in-out);
}

#splash { 
  @include background('../img/fog.jpg');
  @include background-size(cover);
  
  height: 100%;
  left: 0%;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 10;

  #splash-content {
    background: rgba(255, 255, 255, 0.1);
    border: 5px double $color-border;
    margin: 0 auto;
    padding: 5em 0em;
    position: relative;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    width: 50%;

    h1 {
      color: rgba(0, 0, 0, 0.85);
      font-family: $font-title;
      font-size: 1.2em;
      text-transform: uppercase;
    }
    h2 {
      font-family: $font-title;
    }
    p {
      font-family: $font-click;
      text-transform: lowercase;
      @include animation(blink 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate);
    }
    #sig {
      margin: auto;
      margin-top: -0.8em;
      margin-bottom: 2em;     
      max-width: 100%;
      opacity: 0.1;
      width: 13em;
    }
  } /* #splash-content */
} /* #splash */

.stanza {
  display: none;
}

/* Animations Woot */
@include keyframes(blink) {
  from { opacity: 1; }
  to { opacity: 0; }
}