/* Global Styles */
body {
  @include background('../img/landscape.jpg');
  @include background-size(cover);
  overflow-x: hidden;
  z-index: -1;
}

h2 {
  line-height: 1.4em;
}

footer {
  padding: 1em 4em;
  text-align: right;
}

main {
  display: none;
}

/* Flexbox Styles */
.flex-container {
  display: inline-block;
  padding: 1em;
  text-align: center;
  width: 90%;

  @include display-flex(flex);
  @include flex-flow(row nowrap);
  @include justify-content(space-between);
}

.flex-container section {
  margin: 0 3%;
  padding: 0.8em;

  @include flex(1);
}

@media only screen and (max-width: 480px) {
  .flex-container {
    @include flex-flow(column);
  }
}

/* Special Styles */
.box {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2em 1em;
  width: 100%;
}

#splash { 
  @include background('../img/fog.jpg');
  @include background-size(cover);
  
  height: 100%;
  left: 0%;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 10;

  #splash-content {
    background: rgba(255, 255, 255, 0.1);
    border: 5px double $color-border;
    margin: 0 auto;
    padding: 5em 0em;
    position: relative;
    top: 50%;
    text-align: center;
    transform: translateY(-60%);
    width: 50%;

    h1 {
      color: rgba(0, 0, 0, 0.85);
      font-family: $font-title;
      font-size: 1.8em;
      text-transform: uppercase;
    }
    h2 {
      font-family: $font-title;
    }
    p {
      font-family: $font-click;
      text-transform: lowercase;
    }
    #sig {
      margin-top: -1em;
      margin-left: 16em;
      margin-bottom: 2em;
      opacity: 0.1;
      width: 13em;
    }
  } /* #splash-content */
} /* #splash */

.stanza {
  display: none;
  line-height: 1.4em;
}

/* Animations Woot */
@include keyframes(blink) {
  
}