@import url(https://fonts.googleapis.com/css?family=Quintessential|Josefin+Sans|Lato|Marck+Script|La+Belle+Aurore|Cedarville+Cursive);

@font-face {
  font-family: Aniron;
  src: url('../fonts/anirm___.ttf'),
  url('anirm___.eot');
}

$font-title: 'Aniron', 'Quintessential', 'La Belle Aurore', Garamond, serif;
$font-click: 'Josefin Sans', 'Lato', Helvetica, sans-serif;
$font-poem:  'La Belle Aurore', 'Cedarville Cursive', 'Marck Script', Garamond, serif;

$color-border: rgba(0, 0, 0, 0.4);